@model IEnumerable<Domain.Step>

@{
    ViewBag.Title = "getSteps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>getSteps</h2>

@{ 

    var na = ViewData["n"];
}
<h3>@na</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.treatment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.treatment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
           
            @Html.ActionLink("Delete", "Delete", new { id=item.StepId })
        </td>
        
    </tr>

   
}
  

</table>
<p>
   @*<asp:TextBox ID="txtText"  onkeyup="SetButtonStatus(@n, 'btnButton')"></asp:TextBox>

 

    <asp:Button ID="btnButton"  Text="Button" Enabled="false">
      
    </asp:Button>*@
    @if ((int)na<3)
    {  @Html.ActionLink("Suggest", "CreateStep", new { id = Model.First().course.CourseId })
    }
    else
    {
        <p>yOU CAN T SUGGEST MORE STEPS ? THERE is more than 3 TREATMEN PENDING</p>
    }
    
</p>
<script type="text/javascript">
    function SetButtonStatus(n)
    {
        if (n < 3)
            document.getElementById(target).disabled = false;
    }
    //window.onload=disableBtn(); //NOTE: I have commented this line
</script>

