@{
    string backsrc = "../../../Content/Images/background/backdefault.jpg";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>@ViewBag.Title - EPIONE</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/ionicons.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/glyphicons.css" rel="stylesheet" />
    <link href="~/Content/components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <link href="~/Content/LayoutStyle.css" rel="stylesheet" />
    <style>

        body {

            background: url(@backsrc) no-repeat center center fixed;
            /*background: url(../../Content/Images/back3.jpg) no-repeat center center fixed;*/
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            font-family: century gothic, sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
            background-color: #fff
        }
            .titre1 {
            font-size: large;
            color:#fff


            }

    </style>

</head>
<body>


    <div class="se-pre-con"></div>
      
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#3E6FAD">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            @*<div class="navbar-header">*@
            @*<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>*@
       
           <a class="navbar-brand" style="color:aquamarine ; font-size:25px ; font-weight:bold;padding-top:0">
               @*<img src="~/Content/Images/epione2.png" width="50px" hight="50px" style="padding-top:0 " />*@
           </a>
        
                @*</div>*@


                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav " style="padding-left:580px">


                        <li>

                            <a href="@Url.Action("Index", "Home")">
                                <span class="titre1" title="" id="" aria-hidden="true"> <img src="~/Content/Flaticone/house.png" /> Home</span>
                            </a>
                        </li>
                        <li>

                            <a href="@Url.Action("Index", "Post")">
                                <span class="titre1" title="" id="" aria-hidden="true"><img src="~/Content/Flaticone/forum.png" /> Forum Blog</span>
                            </a>
                        </li>

                        <li>

<<<<<<< HEAD
                            <a href="@Url.Action("About", "Home")">
                                <span class="titre1" title="" aria-hidden="true"><img src="~/Content/Flaticone/stethoscope.png" /> About Us</span>
=======
                            <a href="@Url.Action("Index", "Doctor")">
                                <span class="titre1" title="" aria-hidden="true"> Medecin</span>
>>>>>>> 22b02e64d51a80a21f57cb838d3d3f0e4910b095
                            </a>
                        </li>
                        <li>

                            <a href="@Url.Action("Contact", "Home")">
                                <span class="titre1" title="" aria-hidden="true"><img src="~/Content/Flaticone/phone.png" /> Contact Us</span>
                            </a>
                        </li>

                        @*<li>
                                <a href="#"><span class="ion-ios-person" style="font-size: xx-large"></span> Chaima</a>
                            </li>*@
                        @*<li class="dropdown" style="margin-top: 5px">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <font size="3" face="century gothic" color="white" text-align="center"> Home                       </font>
                                    <span class="caret"></span>
                                </a>

                            </li>*@

                        @*<li class="dropdown" style="margin-top: 5px">*@
                        @*<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" id="front_dropdown" aria-expanded="false">*@
                        @*<font size="3" face="century gothic" color="white" text-align="center">
                                Home
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>&nbsp; &nbsp; Front
                            </font>
                            <span class="caret"></span>*@
                        @*</a>*@
                        @*<ul class="dropdown-menu">*@

                        @*<li>
                                <a href="@Url.Action("Index", "quotations")">
                                    <span class="fa fa-calculator"></span> &nbsp; &nbsp; Devis
                                </a>
                            </li>*@


                        @*<li class="dropdown dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" id="cractsinskitre_dropdown" aria-expanded="false">
                                <span class="fa fa-medkit"></span> &nbsp; &nbsp; Maladie
                            </a>*@

                        @*<ul class="dropdown-menu sub-menu">
                            <li class="dropdown">
                                <a href="@Url.Action("Index", "maladiebordereau")">
                                    <span class="fa  fa-hospital-o"></span> &nbsp; &nbsp;Gestion Bordereaux
                                </a>
                            </li>*@

                        @*<li class="dropdown">
                                <a href="@Url.Action("Index", "maladie", new {msg = ""})">
                                    <span class="fa fa-file-text-o"></span> &nbsp; &nbsp; Gestion bulletins
                                </a>
                            </li>*@
                        @*</ul>
                            </li>*@

                        @*</ul>
                            </li>*@
                    </ul>

                   @* <ul class="nav navbar-nav navbar-right" style="padding-right:10px">

        <li>
            <a href="@Url.Action("Login", "Account")">
                <span class="fa fa-user" id=""  style="font-size: x-large">
                    Log In  </span>
            </a>
        </li>

    </ul>*@
                    @Html.Partial("_LoginPartial")
                </div><!-- /.navbar-collapse -->
        
                
                
                
                </div><!-- /.container-fluid -->
    </nav>

    <div> 
        @RenderBody()
        @*<hr />*@

    </div>


    <nav class="navbarbot  navbar-fixed-bottom" style="background-color:#3E6FAD;height:2px;">

        <div class="navbar-header" style="text-align: center;" align="center">
            <span>
                <font size="2" face="garamond" color="white" text-align="center"> &copy; 2018 . All rights reserved.</font>
            </span>

        </div>

    </nav>
</body>
@*<footer>
    </footer>*@
</html>
@RenderSection("scripts", required: false)


<script type="text/javascript">


    $(window).ready(function () {
        // Animate loader off screen
        $(".se-pre-con").fadeOut("slow");


    });


    $(document).ready(function () {


        //attacher class selected au menu selectionné
        $(".dropdown-toggle").click(function (event) {
            $(".dropdown-toggle").removeClass("selected");
            $(event.target).addClass("selected");

        });

        //$('.dropdown-submenu a.test').on("click", function (e) {
        //    $(this).next('ul').toggle();
        //    e.stopPropagation();
        //    e.preventDefault();
        //});
    });


</script>
